.searchForm{
    position: relative;
    width: 100%;
}

.searchForm input{
    border: none;
    background: linear-gradient(35deg, #494949, #313131);
    font-size: 1.5rem;
    color: white;
    padding: 0.5rem 3rem;
    border-radius: 1rem;
    outline: none;
    width: 100%;
}

.searchInput{
    width: 100%;
    position: relative;
}

.searchForm svg{
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(100%, -50%);
    color: white;
}

.searchpageheader {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0px auto 0.3%;
    padding-top: 3%;
    font-size: 1.8em;
    font-weight: bold;
    background-color: rgb(255, 251, 235);
    line-height: 4rem;
    border-bottom: 1px rgb(0, 0, 0) solid;
}

.dropdown {
    display: inline-block;
    position: relative;
    font-size: 16px;
    margin-left: 1rem;
}

.dropdown select {
    display: block;
    width: 150px;
    padding: 10px 20px;
    font-size: 16px;
    line-height: 1.3;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    appearance: none;
    outline: none;
    cursor: pointer;
}

.dropdown select::-ms-expand {
    display: none;
}

.dropdown::before {
    content: "\f107";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-family: FontAwesome;
    font-size: 14px;
    color: #aaa;
    pointer-events: none;
}

.dropdown select:hover {
    border-color: #aaa;
}

.dropdown select:focus {
    border-color: #4285f4;
}

.dropdown select option {
    background-color: #fff;
    color: #555;
    font-weight: normal;
}

.filter-form-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    display: inline-block;
    vertical-align: middle;
}

.filter-form-container form {
    display: inline-block;
}

.filter-button {
    font-size: 1rem;
    padding: 0.5rem;
    margin-right: 0.5rem;
}

.filter-form-container button {
    display: inline-block;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #555;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    vertical-align: middle;
    cursor: pointer;
    width: 100px;
}

.filter-form-container button:hover {
    border-color: #adadad;
}

.filter-form {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.filter-form li:hover {
    background-color: #f5f5f5;
    text-decoration: none;
  }
  
  .sort-dropdown-container {
    margin-left: 1rem;
  }
  
  .sort-dropdown-container select {
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0.5rem 2.5rem 0.5rem 1rem;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 8 5'%3E%3Cpath fill='%23aaa' d='M0 0h8L4 5z'/%3E%3C/svg%3E")
      no-repeat right center/8px 10px;
    appearance: none;
    outline: none;
    cursor: pointer;
  }
  
  .sort-dropdown-container select:hover {
    border-color: #aaa;
  }
  
  .sort-dropdown-container select:focus {
    border-color: #4285f4;
  }
  
  .sort-dropdown-container option {
    background-color: #fff;
    color: #555;
    font-weight: normal;
  }
  