@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

.recipe-page-container
{
    background-color: white;
    position: relative;
    max-width: 100vw;
    min-width: 100vw;
    min-height: 80vh;
    /* box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1) */
}

.imagediv{
    grid-row: 1;
    order: 1;
    min-height: 200px;
    min-width: 480px;
}

.recipeImage{
    min-height: 315px;
    min-width: 480px;
    width: 35vw;
}

.preparationdiv
{
    grid-row: 1;
    order: 2;
    margin-left: 50px;
    min-width: 500px;
    min-height: 600px;
}

.iconscontainer{
    height: 50px;
    min-width: 480px;
}

.fillerdiv{
    grid-row: 2;
    order: 1;
}

.ingredientsdiv{
    grid-row: 2;
    order: 2;
    margin-left: 50px;
}

.buttonsContainer{
    width: 35vw;
    min-width: 480px;
}

#recipePageHeader{
    font-family: Lato;
    font-weight: bold;
}


.recipeInstructions{
    height: 370px;
}


.AddReviewButton{
    height: 50px;
    margin-top: 2rem;
    margin-left: 3rem;
}

.AddTrackerButton{
    height: 50px;
    margin-right: 2rem;
    margin-left: 1rem;
}

.recipeFavourite{
    position: relative;
    margin-left: 26rem;
}