@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

.recipe-page-container
{
    background-color: white;
    position: relative;
    max-width: 100vw;
    min-width: 100vw;
    min-height: 80vh;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1)
}

.preparation-container
{
    position: relative;
}

.buttonsContainer{
    width: 556px;
}

#recipePageHeader{
    font-family: Lato;
    font-weight: bold;
}

.iconsdiv{
    width: 556px;
}

.recipeInstructions{
    height: 370px;
}

.AddReviewButton{
    height: 50px;
    margin-top: 4rem;
    margin-left: 1rem;
}

.AddTrackerButton{
    height: 50px;
    margin-left: 2rem;
    margin-right: 1rem;
}