.LandingPage {
  background-color: rgb(255, 251, 235);
  /* height: 2fr; */
}

.recipecards {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-top: 20px; */
  flex-wrap: nowrap;
  justify-content: space-around;
}
.landingpageheader {
  display: flex;
  align-content: flex;
  width: 60%;
  margin: 0px auto 0.3%;
  /* padding-top: 3%; */
  font-size: 1.8em;
  font-weight: bold;
  background-color: rgb(255, 251, 235);
  line-height: 4rem;
  border-bottom: 1px rgb(0, 0, 0) solid;
}

#typewriter{
  display: flex;
  justify-self: center;
  align-items: center;
  margin-top: 1.5rem;
}

#gradient{
  background: hsla(0, 0%, 0%, 1);

background: linear-gradient(180deg, hsla(0, 0%, 0%, 1) 0%, hsla(48, 100%, 96%, 1) 100%);

background: -moz-linear-gradient(180deg, hsla(0, 0%, 0%, 1) 0%, hsla(48, 100%, 96%, 1) 100%);

background: -webkit-linear-gradient(180deg, hsla(0, 0%, 0%, 1) 0%, hsla(48, 100%, 96%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#000000", endColorstr="#FFFBEB", GradientType=1 );
}

#ArceusInformation{
  display: flex;
  justify-self: center;
  align-items: center;
  margin-top: 15rem;
  font-size: 20;
  margin-left: 10rem;
}